*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(19, 18, 18, 1);
    

}

body {
    background: rgba(246, 246, 246, 1);
}
.container {
    width: 100%;
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px; 
    width:80%;  
}

a {
   text-decoration: none;
}

a:hover {
    color: rgba(182, 161, 121, 1);
}

.nav-texts {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

.nav-text1 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 29px;
}

.nav-text2 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    line-height: 28.8px;
    height: 29px;
    padding-left: 50px;
}

.nav-text3 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    line-height: 28.8px;
    height: 29px;
    padding-left: 50px;
}

.nav-text4 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    line-height: 28.8px;
    height: 29px;
    padding-left: 50px;
}

.nav-text5 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    line-height: 28.8px;
    height: 29px;
    padding-left: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 0;
}

.icon1 {
    width: 36px;
    height: 36px;
    margin-top: 10px;
}

i:hover {
    color: rgba(182, 161, 121, 1);
}

.icon2 {
    margin-left: 25px;
    width: 36px;
    height: 36px;
    margin-top: 10px;
}

.content {
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    position: relative;
}

.item-description {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 5%;
}

.shoe {
    left: 20%;
    top: 30%;
   position: relative;
}

.video {
    margin-top: 30px;
    color: rgba(19, 18, 18, 1);
    font-family: 'Oswald', sans-serif;
}

#video {
    width: 56px;
    height: 56px;
    color: grey;
}

.category {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(19, 18, 18, 1);
}

.item-name {
    margin-top: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    /* line-height: 86.4px; */
    color:rgba(19, 18, 18, 1);
}

.item-para {
    margin-top: 15px;
    opacity: 0.5;
font-size: 14px;
color: rgba(19, 18, 18, 1);
line-height: 20px;
font-family: 'Open Sans', sans-serif;
}

.size {
    position: absolute;
    z-index: 999;
    /* left: 78%; */
    right: -1.5%;
    top: 10%;
}

.select {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: rgba(19, 18, 18, 1);
    line-height: 24px;
}

.size-grid {
    display: grid;
    margin-top: 28px;
    grid-template-columns: auto auto auto auto auto;
    width: 240px;
}

.grid-item {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    font-size: 10px;
    border: 1px solid rgba(19, 18, 18, 1);
    font-family: 'Oswald', sans-serif;
    margin-right: 0px;
}
.grid-item:hover {
    color: rgba(182, 161, 121, 1);
}

.color {
    margin-top: 38px;
}

.color-select {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: rgba(19, 18, 18, 1);
    line-height: 24px;
    margin-top: 25px;
}

.color-flex {
    display: flex;
    flex-direction: row;
}

.color-flex div {
    margin-right: 13px;
    margin-top: 20px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.brown {
    background: rgba(182, 161, 121, 1);
}

.black {
    background: rgba(39, 36, 37, 1);
}

.blue {
    background: rgba(99, 137, 203, 1);
}

.yellow {
    background: rgba(242, 199, 88, 1);
}

.white {
    background: rgba(255, 255, 255, 1);
}
.scroll {
    font-family: 'Oswald', sans-serif;
font-size: 18px;
line-height: 29px;
 position: absolute; 
color: rgba(19, 18, 18, 1);
transform: rotate(-90deg);
bottom: -4%; 
left: -3%;
}

.socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    margin: 0 auto;
    /* left: 90%; */
    top: 85%;
    right: 0;
}

.socials div {
    margin-bottom: 15px; 
}


.bottom-bar {
    width: 100%;
    height: 5rem;
    /* border: 1px solid rgba(182, 161, 121, 1); */
    position: absolute;
    bottom: -36%;
    display: flex;
    flex-direction: row;
}

.left-flex {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
}

.left-flex div {
    margin-right: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

.right-flex {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin-right: 0;
    padding-top: 2rem;
    right: 10%;
    position: absolute;
    /* padding-right: 5rem; */
}